{% extends './base.html' %}

{% block header %}
   <h1>TO DO APP</h1>
{% endblock %}

{% block content %}
	{% for todo in todo_list %}
		{% if todo.status == 'Сделано' %}
			<ul class="task-block">
				<li class="task">{{ todo.task }}</li>
				<li class="status done">{{ todo.status }}</li>
			</ul>
		{% endif %}
		{% if todo.status == 'Надо сделать' %}
			<ul class="task-block">
				<li class="task">{{ todo.task }}</li>
				<li class="status to-do">{{ todo.status }}</li>
			</ul>
		{% endif %}
		{% if todo.status == 'Отменено' %}
			<ul class="task-block">
				<li class="task">{{ todo.task }}</li>
				<li class="status canceled">{{ todo.status }}</li>
			</ul>
		{% endif %}
	{% endfor %}
{% endblock %}